#body {
    width: fit-content;
    background-color: #e2e2e2;
    padding: 64px;
    border-radius: 64px;
}

#screen {
    height: 600px;
    width: 600px;
    border: 64px solid #9e9e9e;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.grid,
.grid-bottom {
    background-color: #CADC9F;
    /* border-top: 1px solid #CADC9F;
    border-left: 1px solid #CADC9F; */
    box-sizing: border-box;
    flex: 1;
}

/* .grid:last-child {
    border-right: 1px solid #CADC9F;
}

.grid-bottom {
    border-bottom: 1px solid #CADC9F;
}

.grid-bottom:last-child {
    border-right: 1px solid #CADC9F;
} */

#buttons {
    display: flex;
    justify-content: space-between;

}

.left-button {
    color: #F5F5F5;
    background-color: black;
}

.right-button {
    color: #F5F5F5;
    background-color: #97275f;
}