#container {
    height: 600px;
    width: 600px;
    padding: 64px;
    border: 12px solid black;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.grid,
.grid-bottom {
    background-color: #CADC9F;
    /* border-top: 1px solid #CADC9F;
    border-left: 1px solid #CADC9F; */
    box-sizing: border-box;
    flex: 1;
}

.grid:last-child {
    /* border-right: 1px solid #CADC9F; */
}

.grid-bottom {
    /* border-bottom: 1px solid #CADC9F; */
}

.grid-bottom:last-child {
    /* border-right: 1px solid #CADC9F; */
}