body {
    display: flex;
    justify-content: center;
    background-color: #9ccbcb;
}

#gameboy {
    width: fit-content;
    background-color: #e2e2e2;
    padding: 64px;
    border-radius: 64px;
    margin-top: 64px;
}

#screen {
    height: 600px;
    width: 600px;
    border: 64px solid #9e9e9e;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.grid {
    background-color: #CADC9F;
    box-sizing: border-box;
    flex: 1;
}

#label {
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: #383c9f;
    margin-top: 12px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 64px;
}

#left-buttons,
#right-buttons {
    display: flex;
    gap: 8px;
}

.left-button,
.right-button {
    font-size: 16px;
    color: #F5F5F5;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.left-button {
    background-color: #444245;
    box-shadow: 0 5px #888888;
}

.left-button:active {
    box-shadow: 0 3px #888888;
    transform: translateY(2px);
}

.right-button {
    background-color: #97275f;
    box-shadow: 0 5px #611b40;
}

.right-button:active {
    box-shadow: 0 3px #611b40;
    transform: translateY(2px);
}